:root {
  --color-green: #759B83;
  --color-lightgray: #EFEFEF;
  --color-darkgray: #707070;
  --color-white: #ffffff;

  --type-head: font-family: como, sans-serif;
  --type-paragraph: font-family: itc-avant-garde-gothic-pro, sans-serif;

}

* { 
  box-sizing: border-box;
 }

body {
font-family: como, sans-serif;
}

p {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 300;
}

h1 {
  color: 707070;
}

h2 {
  color: 707070;
}

h3 {
  color: 707070;
}

header {
  grid-template-columns: 1fr auto;
  grid-auto-rows: 1fr ;
  display: grid;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

header a {
  grid-column: 1;
  }

  header a {
  grid-column: 2;
  }

header img {
  height: 6rem;
  place-self: center;
}
 

.hero {
  height: 80vh;
  background: url(../img/hero-mobile.png);
     background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr ;
  display: grid;
  align-items: end;
  text-align: center;
  justify-items: center;

}

.bubbles {
    border-radius: 3rem;
    background: var(--color-green);
    position: absolute;

}

.b-one {
    
    top: 85vh;
    left: 20vh;
    width: 35px;
    height: 35px;
  
}

.b-two {
  top: 55vh;
    left: 40vh;
    width: 30px;
    height: 30px;
}

.b-three {
top: 25vh;
    left: 10vh;
    width: 25px;
    height: 25px;

}

.b-four {
  top: 19vh;
    left: 17vh;
    width: 15px;
    height: 15px;

}

@media screen and (min-width:40em){
.b-four {
  top: 12vh;
    left: 17vh;
    width: 15px;
    height: 15px;

}
}

.b-five {
top: 78vh;
    left: 55vh;
    width: 15px;
    height: 15px;

}

.b-six {
 top: 51vh;
    left: 8vh;
    width: 10px;
    height: 10px;

}

.b-seven {
top: 91vh;
    left: 75vh;
    width: 25px;
    height:25px;

}

.b-eight {
top: 86vh;
    left: 115vh;
    width: 12px;
    height:12px;

}

.b-nine {
top: 23vh;
    left: 105vh;
    width: 12px;
    height:12px;
  
}

.b-ten{
top: 16vh;
    left: 135vh;
    width: 17px;
    height:17px;

}

.b-eleven{
top: 45vh;
    left: 85vh;
    width: 25px;
    height:25px;
}

.b-twelve{
top: 45vh;
    left: 155vh;
    width: 30px;
    height:30px;

}

.bounce {
animation-iteration-count: infinite;
animation-duration: 4s;
  animation-name: moveUp;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.bounce-two {
  animation-iteration-count: infinite;
animation-duration: 4s;
  animation-name: moveUp;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes moveUp {

  0%   { opacity: 1; }
  100% { opacity: 0; }

   0%   { transform: translateY(0); }
        100% { transform: translateY(-100vh); }
}


@media screen and (min-width:40em){
 .hero {
 place-items: center;
 background: url(../img/hero.png);
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

 }
}

.bubble {
  background: var(--color-green);
  color: #fff;
  padding: 1rem;
  width: 80%;
  height: 20%;
  text-align: center;
   border-radius: 8rem;
   margin-bottom: 2rem;
   
}



@media screen and (min-width:40em){
 .bubble {

  width: 30%;
  height: 20%;
  margin-bottom: 0;
  display: none;
 
 }
}

.hero h1 {
 font-size: 1.5rem;
}

@media screen and (min-width:40em){
 .hero h1{
 font-size: 1.75rem;
 }
}
.sustainable {
  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  color: var(--color-darkgray);
}



@media screen and (min-width:40em){
 .sustainable {
 grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height:  80vh;
  background: url(../img/patt.png);
 }
}

.text{
  grid-row: 2;
  grid-column: 1;
 place-self: center;
 padding: 3rem;
 text-align: center;
   }

   @media screen and (min-width:40em){
 .text {
  grid-column: 1;
  grid-row: 1;
 }
}

.sustainable h2 {
   color: var(--color-darkgray);
   font-size: 2.25rem;
   font-weight: 800;
     color : var(--color-green);
}

.sustainable p {
   font-size: 1.5rem;
  
  
}

.sustainable h2::before {
  border-top: 4px solid var(--color-green);
  border-radius: 2rem;
  display: block;
  position: relative;
  top: -1rem;
  margin: 0 auto;
  width: 60%;
  content: "";
}

.sus-img {

background: url(../img/all.png);
background-size: cover;

}

  @media screen and (max-width:40em){
.sus-img  {
  height: 20rem;
   grid-row: 1;

 }
}

  @media screen and (min-width:40em){
.sus-img  {
   grid-column: 2;
 }
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4fr 2fr;
  grid-gap: 1rem;
  height: 95vh;
  padding-top:  1rem;
  padding-bottom: 3rem;
  align-items: center;
}

@media screen and (max-width:40em){
.products {
display: none;
}
}

.products h2{
  font-weight: 900;
  font-size: 1.75rem;
    margin: 0;
  padding: 0;
}

.products p{
  font-weight: 500;
  font-size: 1.125rem;
  margin: 0;
  padding: 0;
}

.product1 {
  grid-row: 1;
  grid-column: 1;
background-image: url(../img/product1.png);
background-size: cover;
background-position: right;
background-repeat: none;
  height: 100%;
  color: var(--color-green);
  padding: 3rem;
  
}
  
.product2 {
  grid-row: 1;
  grid-column: 2;
  background-image: url(../img/product2.png);
background-size: cover;
background-position: center;
background-repeat: none;
  height: 100%;
   color: var(--color-green);
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: flex-end;
  

}

.product3 {
  
 background-image: url(../img/product3.png);
  background-size: cover;
background-position: center;
background-repeat: none;
  grid-row: 2;
  grid-column: 1 / span 2;
 width: 100%;
    color: var(--color-green);
  padding: 2rem;
  display: grid;
  justify-items: flex-end;
  text-align: center;
}

:root {
  --page-margin: min(1rem, 5vw);
  color: #000;
}

.benefits {
  
  background: url(../img/patt.png);
padding-top: 3rem;  
padding-bottom: 1rem;

  }

  & > * {
    grid-column: center;
  }

   @media screen and (min-width:40em){
 .benefits {
  grid-template-columns: var(--page-margin) [center-start] 1fr [center-end] var(--page-margin);
 }
}

.cards-wrapper::-webkit-scrollbar {
  width: 5px;
  height: 10px;

}
 
.cards-wrapper::-webkit-scrollbar-track {
  background: none;

}
 
.cards-wrapper::-webkit-scrollbar-thumb {
  background: var(--color-green);
  border-radius: 2rem;
  width: 10px;
}


.cards-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-lightgray);
}

.benefits h2 {
  text-align: center;
  font-weight: 700;
  color: var(--color-darkgray);
  font-size: 1.75rem;
}

.benefits h2::before {
  border-top: 4px solid var(--color-green);
  border-radius: 2rem;
  display: block;
  position: relative;
  top: -1rem;
  margin: 0 auto;
  width: 25%;
  content: "";
}

.cards-wrapper .text {
  background-color: var(--color-lightgray);
  margin-top: -1rem;
  padding-bottom: 1rem;
  border-radius: 0 0 2rem 2rem;
  min-height: 25vh;
 
}


.cards-wrapper img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 2rem 2rem 0 0;
  height: 40vh;
}

@media screen and (min-width:40em){
 .cards-wrapper img {
    height: 35vh;

}
}

.cards-wrapper {
height: auto;
  

}

@media screen and (min-width:40em){
 .cards-wrapper {
grid-column: center-start / -1;
  grid-row: 1;
  display: grid;
  grid-auto-flow: column;
  gap: 1.5rem;
  overflow-x: auto;
  padding-right: var(--page-margin); 
  height: 70vh;
   padding-left: 2rem;
}
}

  .card {
    place-content: center;
    color: #fff;
    background-color: var(--color-lightgray);
    border-radius: 2rem;
    max-height: 80vh;
margin: 2rem;
  }

  @media screen and (min-width:40em){
 .card {
min-height: 25vh;
    max-height: 30vh;
    min-width: 28vw;
    margin: 0;


}
}

.card:hover {
  transform: scale(1.03);
}
  
 .cards-wrapper h3 {
    padding-top: .75rem;
    font-size: 1.25rem;
    margin: 0;
    padding-left: .75rem;
    padding-right: .75rem;
    color: var(--color-green);
    font-weight: 800;
    text-align: left;
  }
  
    .cards-wrapper p{
      
    font-size: 1rem;
      padding-left: .75rem;
      padding-right: .75rem;
      color: var(--color-darkgray);
      text-align: left;
   
  }


.fqa {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  color: var(--color-green);
}

  @media screen and (min-width:40em){
 .fqa  {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
    height:  70vh;
}
}

.fqa .img{
 background-image: url(../img/all2.png);
background-size: 100%;
background-position: center;
background-repeat: none;
height: 100%;
  grid-row: 1;
  grid-column: 1;

}

  @media screen and (min-width:40em){
 .fqa .img  {
grid-row: 1;
  grid-column: 1;
}
}


.fqa img {
  object-fit: cover;
  background-size: 100%;
  height: 100%;
  width: 100%;
}

.fqa .text{
  grid-row: 2;
  grid-column: 1;
}

  @media screen and (min-width:40em){
 .fqa .text {
grid-row: 1;
  grid-column: 2;
}
}




.fqa dt {
  background-color: var(--color-green);
  margin: 1rem;
  padding: 1.25rem;
  border-radius: 2rem;
  color: white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dl {
  margin: 0;
}

dt {
  position: relative;
  padding: 1rem 3rem 1rem 1rem;
  border-radius: 2rem;
  border: 1px solid var(--color-green);
  font-weight: 700;
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (min-width: 40em){
  dt {
    padding: 2rem;
  }
}

dt::before {
  content: attr(data-before);
  position: absolute;
  right: 1rem;
}

@media screen and (min-width: 40em){
  dt::before  {
    right: 2rem;
  }
}

dt:hover {
  color: #d6e1da;
}

dd {
  max-height: 10rem;
  margin: 0 0 1rem 0;
  padding: 1rem;
  border: 1px solid #9ac2c9;
  border-top: 0;
}

@media screen and (min-width: 40em){
  dd  {
    padding: 2rem;
  }
}

.toggle-faq {
  overflow: hidden;
  max-height: 0px;
  padding: 0;
  border-bottom: 0;
}

.selected-faq {

}



.company {

text-align: center;
background-image: url(../img/patt.png);
display: grid;
grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  padding: 3rem;
  background-size: cover;
  color: var(--color-darkgray);

}

@media screen and (min-width: 40em){
  .company   {
    height:  50vh;
  }
}
.company .text {

}
.company h2 {
  font-size: 2rem;

 

}

.company p {
  font-size: 1.25rem;
  max-width: 60em;
  width: 100%;

}


.buy {
  text-align: center;
  place-items: center;
  color: var(--color-darkgray);

}
@media screen and (min-width: 40em){
  .buy   {
    height:  50vh;
  }
}

.buy h2 {
   font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.buy .text{
  grid-row: 1;
  grid-column: 1;
}

.stores {
  grid-row: 2;
  grid-column: 1;
    max-width: 60em;
  width: 100%;

 
}

.company h2::before {
  border-top: 4px solid var(--color-green);
  border-radius: 2rem;
  display: block;
  position: relative;
  top: -1rem;
  margin: 0 auto;
  width: 32%;
  content: "";
}


.stores img {

  height: 8rem;
}
@media screen and (min-width: 40em){
  .stores img {

  height: 10rem;
}
}
.stores a:hover {
  border-bottom: 3px solid var(--color-green);
padding-bottom: 4rem;
}


.buy  ul{
   display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  text-align: center;
  place-items: center;


}
@media screen and (min-width: 40em){
.buy li:nth-child(1) {
  grid-row: 1;
  grid-column: 1;
}

.buy li:nth-child(2) {
  grid-row: 1;
  grid-column: 2;
}


.buy li:nth-child(3) {
  grid-row: 1;
  grid-column: 3;
}

.buy li:nth-child(4) {
  grid-row: 1;
  grid-column: 4;
}
}
@media screen and (min-width: 40em){
  .buy  ul   {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  padding-right: 2rem;
  }
}


.buy h2::before {
  border-top: 4px solid var(--color-green);
  border-radius: 2rem;
  display: block;
  position: relative;
  top: -1rem;
  margin: 0 auto;
  width: 30%;
  content: "";
}


.newsletter h2{
color: #000;
}


.newsletter p{
color: #000;
}


footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  background-image: url(../img/patt-green.png);
  text-align: center;
  color: white;
  padding-top: 1rem;
}

.newsletter {
  grid-row: 1;
  grid-column: 1;
  color: white;
}

.footer {
  grid-row: 2;
  grid-column: 1;
  
}

.newsletter h2 {

  color: white;
}

.newsletter p {

  color: white;
}

@media screen and (min-width: 40em){
  footer a {
  grid-row: 1;
  grid-column: 1;
  text-align: left;

}
}


footer h4 {
 
}

@media screen and (min-width: 40em){
  footer h4 {
   grid-row: 1;
  grid-column: 2;
  text-align: right;
  padding-right: 2rem;


}
}

#email-form input {
  border-radius: 2rem 0 0 2rem;
  border: none; 
  min-width: 40vw;
  padding: .625rem .5rem;
   background-image: url(../img/patt.png);
    grid-row: 1;
  grid-column: 1;
}
form#email-form  {
 grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

input:hover {
background: #d6e1da;
}

#email-form button:hover {
background: #d6e1da;
}

#email-form button {
   grid-row: 1;
  grid-column: 1;
  background-color: white;
  color: var(--color-green);
  border-radius: 0 2rem 2rem 0;
  font-weight: 500;
  border: none;
  padding: .625rem 1.25rem;
  margin: 0;
}

.footer .logo {
 height: 4rem;
}

@media screen and (min-width: 40em){
  .footer .logo {

  padding-left: 2rem;
  text-align: left;
}
}


.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 3rem;
  align-items: center;
  background-color: #698c76;
}

/* hide form label */
.form-input label {
  position: absolute;
  left: -99999px;
}

/* class used by JS to hide form elements */
.hide {
  display: none;
}